body{background-color: black;}

.bannerContent{
  width:100%;
}

.body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

